* {padding:0px; margin:0px;}
html{

    height:100%;
    width: 100%;
}

body{font-family:tahoma; font-size:12px;margin:0px;height:100%;}
.playground{
    height:100%;
    width: 100%;
}

.player{
    width:10px;
    height:10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border : 1px solid black;
    position: absolute;
}
.rightArrow{
    margin-left:10px;
    margin-top:-5px;
    font-size: 15px;
}
.leftArrow{
    margin-left:-10px;
    margin-top:-5px;
    font-size: 15px;
}

.bullet{
    width:5px;
    height:2px;
    position: absolute;
}